Options -Indexes

RewriteEngine On

# Si el archivo o carpeta existe, cargalo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, envía la petición a index.php
RewriteRule ^(.*)$ index.php [QSA,L]